<div class="card header-card">
    <div class="header-content">
        <div class="header-col-logo">
            <a href="index.html" class="logo-link">
                <img src="site/img/bg-logo-style.png" alt="Стройплощадка" class="main-logo-img">
            </a>
        </div>
        <div class="header-col-text">
            <h1 class="sp-title">Строй Площадка</h1>
            <p class="sp-desc">
                Профессиональная сборка силовых щитов и автоматики.<br>
                Проектирование. Комплектация. Монтаж.
            </p>
        </div>
    </div>
</div>