<nav class="grid-menu">
    <a href="https://www.youtube.com/@jan.pro59" target="_blank" class="card social-btn">
        <span><img src="site/img/youtube.png" class="btn-icon-img" alt="YT">Youtube</span>
    </a>
    <a href="https://instagram.com/Jan.pro59" target="_blank" class="card social-btn">
        <span><img src="site/img/instagram.png" class="btn-icon-img" alt="Insta">Instagram</span>
    </a>
    <a href="https://vk.com/Jan.pro59" target="_blank" class="card social-btn">
        <span><img src="site/img/vk.png" class="btn-icon-img" alt="VK">ВКонтакте</span>
    </a>
    <a href="#" id="nav-action-btn" class="card social-btn"></a>
</nav>